<div id="container"></div>
<div id="form" class="form-group">
  </br>
  <div style="width:30%; display: inline-block;">種類　</div><input type="text" class="form-control" id="type" value="BTC" style="width: 60%; display: inline-block;">
  <div style="width:30%; display: inline-block;">残金　</div><input type="text" class="form-control" disabled="disabled" id="fee" value="30.798002" style="width: 60%; display: inline-block;">
  <div style="width:30%; display: inline-block;">金額　</div><input type="text" class="form-control" id="ammount" style="width: 60%; display: inline-block;">
  <div style="width:30%; display: inline-block;">手数料</div><input type="text" class="form-control" id="fee" value="0.000001" style="width: 60%; display: inline-block;">
  <div style="width:30%; display: inline-block;"></div>
  <input type="button" class="btn btn-lg btn-warning" style="width: 30%; margin-top: 5px" id="complete" value="送金する">
  <input type="button" class="btn btn-lg btn-primary" style="width: 28%; margin-top: 5px" id="cancel" value="キャンセル">
</div>
