<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" id="logo" href="http://dummy">
         COINFO WALLET
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="nav-content" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" id="send">送金</a></li>
        <li><%= link_to "ログイン", "http://dummy", :class => "" %></li>
        <li><%= link_to "会員登録", "http://dummy", :class => "" %></li>
        <li><%= link_to "お問合せ", "http://dummy", :class => "" %></li>
      </ul>
    </div>
  </div>
</header>
